@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

.copperButton {
  border-image: url('/2d/5e_box.png') calc(16 * 4);
  border-style: solid;
  border-width: 32px;

  background: none;
  cursor: pointer;

  margin-bottom: 16px;

  font-family: 'Crimson Text', serif;
  font-size: 22px;
  padding: 0 16px 0 16px;
}
.copperButton:hover {
  border-image: url('/2d/5e_box_selected.png') calc(16 * 4);
}